{% import 'partials/_category-button.twig' as btn %}
<section class="main-section" data-anchor="top">
  <div class="main-section__inner inner">
    <div class="main-section__inner__content"
      style="background-image: linear-gradient(grey 6px, transparent 17%), url({{
      sticky_news[0].thumbnail
      }})">
      <h1 class="main-section__inner__content__title">
        Новость дня
      </h1>
      <div class="main-section__inner__content__card">
        <div class="card-data">
          {{
            btn.category_button({
              name: sticky_news[0].category,
              link:  get_cat_link(sticky_news[0].category)
            })
          }}
          <div class="card-data__date">
            {{ sticky_news[0].date }}
          </div>
        </div>
        <h3 class="card-title">
          <a href="{{ sticky_news[0].link }}">{{ sticky_news[0].title }}</a>
        </h3>
        <p class="card-text">
          {{ sticky_news[0].prev }}
        </p>
      </div>
    </div>
    <div class="main-section__inner-sidebar">
      {% set name = 'Новости' %} {% include 'partials/_section-title.twig' %}
      <div class="inner-sidebar__filter">
        <div class="inner-sidebar__filter-last active"  id="last_news-toggle">
          <p>
            Последние
          </p>
          <span></span>
        </div>
        <div class="inner-sidebar__filter-popular"  id="popular_news-toggle">
          <p>
            Популярные
          </p>
          <span></span>
        </div>
      </div>
      <div class="inner-sidebar__filter__adaptive">
        <div class="inner-sidebar__filter__adaptive-last">
          Последние
          <span></span>
        </div>
        <div class="inner-sidebar__filter__adaptive-popular">
          Популярные
          <span></span>
        </div>
      </div>

      <div class="inner-sidebar__slider">
        <div class="inner-sidebar__slider-last" id="last_news">
          {% for item in sticky_news %}
            {% include 'partials/_sidebar-card.twig' %}
          {% endfor %}
        </div>
        <div class="inner-sidebar__slider-popular" id="popular_news">
          {% for item in last_news %}
            {% include 'partials/_sidebar-card.twig' %}
          {% endfor %}
        </div>
      </div>
      <input class="inner-sidebar__more" type="button" value="ПОСМОТРЕТЬ ЕЩЕ" />
    </div>
  </div>
</section>
